.WorkZoneMain {
    display: flex;
    gap: 160px;
}
.WorkZoneTree {
    padding-left: 33px;
    padding-top: 27px;
}

.SearchPair {
    display: flex;
    border-radius: 6px;
    background-color: #00aaff;
    height: 36px;
    padding: 3px;

    width: 446px;

    margin-bottom: 14px;
}

.SearchPair input {
    width: 174px;
    border-radius: 4px;
    border: none;
    outline: none;

    padding: 0 11px;
}

.SearchPair input:first-child {
    margin-right: 3px;
}

.SearchPair input::placeholder {
    color: #5f5f5f;
}

.SearchPair input:focus::placeholder {
    color: transparent;
}

.SearchPair button {
    width: 89px;
    background-color: transparent;
    border: none;

    font-family: Roboto;
    font-size: 16px;
    color: white;

    cursor: pointer;
}

.WorkZoneMain_FilterGroup {
    display: flex;
    gap: 16px;

    margin-bottom: 28px;
}

.Tree {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.TreeTitle {
    font-size: 20px;
}

/* Info */

.InfoBlock {
    display: flex;
    flex-direction: column;

    gap: 16px;

    padding-top: 35px;
}

.ActiveTitles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ActiveTitle {
    font-size: 18px;
    margin: 0;
}

.InfoBlock input {
    width: 174px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #04e061;
    outline: none;

    padding: 0 11px;
}

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
