/* App */

* {
    box-sizing: border-box;
}

.App {
    background-color: white;
}

.App-header {
    width: 100%;
    height: 70px;

    background-color: #292929;
    border-bottom: 2px solid #515151;

    display: flex;
    align-items: center;
    gap: 12px;

    padding-left: 16px;
}

.App-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;

    color: #ff4053;
    cursor: default;
}

.App-main {
    display: flex;

    width: 100%;
    height: calc(100vh - 70px);
}

/* OpenedMatrix */

.OpenedMatrix {
    height: 100%;
    width: 240px;

    display: flex;
    flex-direction: column;

    border-right: 2px solid #292929;

    background-color: rgba(0, 0, 0, 0.1);
}

.OpenedMatrixTitle {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;

    color: #292929;

    padding-left: 20px;
    cursor: default;
}

.OpenedMatrixListMain,
.OpenedMatrixListSpecial {
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0;
}

.OpenedMatrixList_Item {
    width: 100%;
    height: 56px;

    padding: 0 17px;
    padding-left: 20px;

    font-family: Roboto;
    font-size: 16px;

    color: #292929;

    cursor: pointer;
}

.OpenedMatrixList_Item:hover {
    background-color: white;
}

/* ActiveMatrix */

.WorkZone {
    display: flex;
    flex-direction: column;
}

.WorkZoneHeader {
    width: 100%;
    height: 34px;
}

.ActiveMatrixList {
    width: 100%;
    height: 100%;

    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 0;
}

.ActiveMatrixList_Item {
    display: flex;
    align-items: center;
    gap: 0;

    background-color: #292929;
    color: white;

    border-right: 2px solid #515151;
}

.ActiveMatrixList_Item div {
    display: flex;
    align-items: center;
    height: 100%;

    cursor: pointer;
}

.ActiveMatrixList_Item div p,
span {
    margin: 0;
}

.ActiveMatrixList_Item div:has(p) {
    padding-left: 8px;
}

.ActiveMatrixList_Item div:has(span) {
    width: 34px;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
}

.ActiveMatrixList_Item__Active {
    background-color: #515151;
    cursor: default;
}

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
