.ActiveMatrixList_Item {
    display: flex;
    align-items: center;
    gap: 0;

    background-color: #292929;
    color: white;

    border-right: 2px solid #515151;
}

.ActiveMatrixList_Item div {
    display: flex;
    align-items: center;
    height: 100%;

    cursor: pointer;
}

.ActiveMatrixList_Item div p,
span {
    margin: 0;
}

.ActiveMatrixList_Item div:has(p) {
    padding-left: 8px;
}

.ActiveMatrixList_Item div:has(span) {
    width: 34px;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
}

.ActiveMatrixList_Item__Active {
    background-color: #515151;
    cursor: default;
}
